.box_artigo{
    padding: 0 100px 40px 100px;
}

.Dark .box_artigo{
    color: #f4f4f4;
}

.campoComentarios{
    padding: 60px;
}

.Dark .campoComentarios{
    background-color: #282A2D;
    color: #f4f4f4;
}

input[type=text] {
    width: 240px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.fr{
    float: right;
}

.comment{
    width: 500px;
    border-bottom: #808080 1px solid;
}

.box_submit{
    color: #000;
}

.Dark .box_submit{
    color: #f4f4f4;
}

.box_submit:hover{
    opacity: 0.5;
}