.avatar{
    min-width: 220px;
    max-width: 220px;
    border-radius: 360px;
    padding: 0.2rem;
    border: 2px solid #0c1117;
}

.Dark .avatar{
    border: 2px solid #f4f4f4;
}

.perfil{
    float: right;
    align-items: center;
    text-align: center;
    padding: 15px 120px 0px 0px;
    top: 0;
}

.Dark .perfil{
    background-color: #0c1117;
}

.intro{
    padding: 0px 40px 0px 100px;
    width: 500px;
    font-size: 34px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 145px;
}

.Dark .intro{
    background-color: #0c1117;
    color: #f4f4f4;
}


.posts{
    background-color: #d0d4d4;
}

.Dark .posts{
    background-color: #274360;
    color: #f4f4f4;
}

.recentes{
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    padding: 40px;
}

.box{
    border: 1px solid #274360;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-left: 150px;
    margin-right: 150px;
}