#customers {
  border-collapse: collapse;
  background-color: #f4f4f4;
  width: 100%;
}

.Dark #costumers{
    background-color: #0c1117;
    color: #f4f4f4;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.Dark #customers td, #customers th{
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #0c1117;
    color: #f4f4f4;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}