.Dark {
    background-color: #171a21;
    /* !important; */
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: #f4f4f4;
}

.topBar{
  background-color: #f4f4f4;
  height: 64px;
  align-items: center;
  display: flex;
  top:0;
  padding: 40px 100px;
  font-size: 26px;
  font-weight: 500;
}

.Dark .topBar{
    background-color: #0c1117;
    color: #f4f4f4;
}

.esquerda{
    align-items: center;
    text-align: center;
}

.direita{
    margin-left: auto; 
    margin-right: 0;
}

.direita a{
    text-decoration: none;
    padding: 20px;
    color: #000;
}

.Dark .direita a{
    text-decoration: none;
    padding: 20px;
    color: #f4f4f4;
}

.direita a:hover{
    color: #808080;

}

footer{
    font-family: 'cursive';
}