html, body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}

.topBar{
  background-color: #d9dddc;
  position: fixed;
  width: 100%;
  box-shadow: 0px 8px 24px #000;
  height: 64px;
  align-items: center;
  display: flex;
  top:0;
}

.topBar img{
    margin-left: 20px;
    padding: 0;
}

.topBar .lista a{
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.topBar .lista a:hover{
    color: #808080;
}

.topBar a{
    padding: 0;
}

.topBar .active{
    color: #808080;
}

.topBar .lista{
    margin-right: 100px;
    float: right;
}

footer{
    font-family: 'cursive';
}